# Bundle/Output
/frontend/node_modules/
/frontend/dist/

/backend/dist/
/backend/node_modules/

# Logs
# log files

# Tests
# here will be coverage

# Local .env files
/frontend/.env
/backend/.env
/frontend/.production.env
/backend/.env.production
/backend/.env.development
/backend/.serverless/**/*


# IDEs
/.idea/
/.vscode/*
/.vscode/settings.json
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/extensions.json

# OS
.DS_Store
/frontend/.idea/**/*
/backend/.idea/**/*
