FRONTEND_URL=http://localhost:3000
AWS_DYNAMODB_BATCH_SIZE=25
AWS_S3_SIGNED_URL_TTL=3600
AWS_SES_EMAIL_FROM=test@mail.com
JWT_ACCESS_SECRET='super secret jwt'
JWT_ACCESS_TTL=5s
JWT_REFRESH_SECRET='super secret jwt refresh'
JWT_REFRESH_TTL=7d
JWT_RESET_PASSWORD_SECRET='super secret jwt password secret'
JWT_RESET_PASSWORD_TTL=2h
REFRESH_COOKIE_NAME=refresh_token
REFRESH_COOKIE_SECRET='super secret refresh cookie secret'
GOOGLE_CLIENT_ID=abcd
GOOGLE_CLIENT_SECRET=abcd
GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_ACCESS_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_TOKEN_INFO_URL=https://oauth2.googleapis.com/tokeninfo
THROTTLE_TTL=60000
THROTTLE_LIMIT=5000

