.restore_form {
    border: 1px solid var(--gray-300);
    width: 50%;
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
    margin: 0 auto;
}

.password_input {
    margin-top: 32px;
}

.submit_button {
    margin-top: 24px;
    width: 100%;
}

.validation_errors {

}

@media (max-width: 959px) {
    .restore_form {
        width: 75%;
    }
}

