.modal {
    padding: 16px 20px;
    height: 494px;
    overflow-y: hidden;
}

.modal .upload_button {
    width: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.modal .upload_button svg {
    width: 16px;
    height: 16px;
    filter: var(--filter-white);
    margin-left: 10px;
}

.modal .photos {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

.persona_photo {
    width: 140px;
    height: 140px;
    border-radius: 12px;
    border: 1px solid var(--gray-500);
    cursor: pointer;
}

.persona_photo:hover img {
}

.file_uploader {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}


@media (max-width: 959px) {
    .modal .photos {
        grid-template-columns: 1fr 1fr;
    }
}

