.debug-info-container {
    width: 500px;
    background-color: rgba(101, 101, 101, 0.76);
    color: white;
    position: absolute;
    border-top-right-radius: 10px;
    padding: 10px;
}

.debug-data {
    display: block;
    font-family: 'Inconsolata';
    font-size: 20px;
    margin-bottom: 10px;
}
