.delete_feature_content {
    width: 361px;
    padding: 24px 22px;
}

.delete_feature_content p {
    margin-bottom: 20px;
}

.delete_feature_content h4 {
    margin-bottom: 64px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 28px;
}

.buttons button:first-child {
    margin-right: 16px;
}
