.skills {
    padding: 12px 20px;
    position: relative;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--gray-500);
    margin-bottom: 32px;
    display: block;
}

.add_new_button {
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 959px) {
    .skills {
        margin-top: 32px;
    }
}
