.projects_item {
    border-radius: 29px;
    background-color: var(--gray-200);
    cursor: pointer;
    padding: 19px 0;
    height: 131px;
    margin-bottom: 19px;
    box-sizing: border-box;
}
.projects_item:hover {
    background-color: var(--gray-300);
}

.projects_name_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects_name_description p {
    margin-top: 9px;
}

.projects_date {
    display: flex;
    align-items: center;
}

.projects_icons {
    display: flex;
    align-items: center;
}
.pencil_icon, .bucket_icon {
    width: 24px;
    height: 24px;
    filter: var(--filter-gray-500);
    cursor: pointer;
}
.pencil_icon {
    margin-left: -18px;
}
.bucket_icon {
    margin-left: 25px;
}
.pencil_icon:hover {
    filter: var(--filter-gray-700);

}
.bucket_icon:hover {
    filter: var(--filter-sinopia-600);
}

@media (max-width: 959px) {
    .projects_item {
        height: auto;
        padding: 16px
    }

    .projects_name_description h5 {
        margin-top: 32px;
    }

    .projects_date {
        margin-top: 30px;
    }

    .projects_icons {
        margin-top: 30px;
    }

    .pencil_icon {
        margin-left: 0;
    }

    .bucket_icon {
        margin-left: 28px;
    }
}
