.close_button {
    padding: 4px;
    border-radius: 32px;
    background-color: var(--gray-100);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close_button:hover {
    background-color: var(--gray-400);
}

.close_button svg {
    width: 28px;
    height: 28px;
    filter: var(--filter-gray-600);
}


